{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col text-truncate">
      <ol>
        {% for class in types|keys %}
          <li>
            <a
              href="{{ path('_siganushka_generic_form', {class}) }}"
              class="{{ class == app.request.query.getString('class') ? 'text-danger' }}"
              title="{{ class }}"
            >{{ class }}</a>
          </li>
        {% else %}
          <li>No forms.</li>
        {% endfor %}
      </ol>
    </div>
    {% if form %}
      <div class="col-12 col-md-7">
        <div class="border rounded bg-light p-3 flex-grow-1">
          {{ form(form) }}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
