{# collection widget #}
{%- block collection_widget -%}
  {%- if allow_add or allow_delete -%}
    {%- set attr = attr|merge({'data-controller': 'siganushka-generic-collection'}) -%}
  {%- endif -%}

  {%- if prototype is defined and not prototype.rendered -%}
    {%- set attr = attr|merge({
      'data-index': form|length,
      'data-prototype': form_row(prototype),
      'data-prototype-name': prototype.vars.name
    }) -%}
  {%- endif -%}

  <table {{ block('widget_container_attributes') }}>
    {%- for entry in form -%}
      {{- form_row(entry) -}}
    {%- endfor -%}

    {%- if add_button is defined and not add_button.rendered -%}
      {{- form_row(add_button) -}}
    {%- endif -%}
  </table>
{%- endblock -%}

{# collection entry row #}
{%- block collection_entry_row -%}
  <tr data-siganushka-generic-collection-target="entry" style="vertical-align: top">
    {%- for entry in compound ? form : [form] -%}
      <td{% with {attr: entry.vars.row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(entry, {attr: {placeholder: entry.vars.label}}) -}}
        {{- form_errors(entry) -}}
        {{- form_help(entry) -}}
      </td>
    {%- endfor -%}

    {%- if delete_button is defined and not delete_button.rendered -%}
      {{- form_row(delete_button) -}}
    {%- endif -%}
  </tr>
{%- endblock -%}

{# collection add button row #}
{%- block collection_add_button_row -%}
<tr>
  <td{% with {attr: row_attr|merge({colspan: 999})} %}{{ block('attributes') }}{% endwith %}>
    {{- block('collection_add_button_widget') -}}
  </td>
</tr>
{%- endblock -%}

{# collection delete button row #}
{%- block collection_delete_button_row -%}
<td{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
  {{- block('collection_delete_button_widget') -}}
</td>
{%- endblock -%}

{# collection add button widget #}
{%- block collection_add_button_widget -%}
  {%- set attr = attr|merge({'data-action': 'click->siganushka-generic-collection#add'}) -%}
  {{- block('button_widget') -}}
{%- endblock -%}

{# collection delete button widget #}
{%- block collection_delete_button_widget -%}
  {%- set attr = attr|merge({'data-action': 'click->siganushka-generic-collection#delete'}) -%}
  {{- block('button_widget') -}}
{%- endblock -%}
