{# collection widget #}
{%- block collection_widget -%}
  {%- if prototype is defined and not prototype.rendered -%}
    {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
  {%- endif -%}

  <table {{ block('widget_container_attributes') }}>
    {%- for entry in form -%}
      {{- form_row(entry) -}}
    {%- endfor -%}

    {%- if add_button is defined and not add_button.rendered -%}
      {{- form_row(add_button) -}}
    {%- endif -%}
  </table>
{%- endblock collection_widget -%}

{# collection entry row #}
{%- block collection_entry_row -%}
  <tr{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %} style="vertical-align: top">
    {% for entry in compound ? form : [form] %}
      <td class="{{ entry.vars.attr['data-collection-class']|default('col-auto') }}">
        {{- form_widget(entry, {attr: {placeholder: entry.vars.label}}) -}}
        {{- form_errors(entry) -}}
        {{- form_help(entry) -}}
      </td>
    {% endfor %}

    {%- if delete_button is defined and not delete_button.rendered -%}
      {{- form_row(delete_button) -}}
    {%- endif -%}
  </tr>
{%- endblock collection_entry_row -%}

{# collection add button row #}
{%- block collection_add_button_row -%}
<tr{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
  <td colspan="999">{{- block('collection_add_button_widget') -}}</td>
</tr>
{%- endblock collection_add_button_row -%}

{# collection delete button row #}
{%- block collection_delete_button_row -%}
<td{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
  {{- block('collection_delete_button_widget') -}}
</td>
{%- endblock collection_delete_button_row -%}

{# collection add button widget #}
{%- block collection_add_button_widget -%}
  {{- block('button_widget') -}}
{%- endblock collection_add_button_widget -%}

{# collection delete button widget #}
{%- block collection_delete_button_widget -%}
  {{- block('button_widget') -}}
{%- endblock collection_delete_button_widget -%}
